<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

        <body>
            <%- include('./partials/nav.ejs') %>
                <main>
                    <div class="not-found content">
                        <h2>404 Oops!</h2>
                        <p>Error 404: Blog Not Found</p>
                    </div>
                </main>
                <%- include('./partials/footer.ejs') %>
        </body>


</html>