<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

        <body>
            <%- include('./partials/nav.ejs') %>
                <main>
                    <div class="content">
                        <h2>About</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt culpa magni provident,
                            fugit
                            officia atque nam error temporibus ipsum reprehenderit magnam labore voluptatem cupiditate
                            facilis
                            ducimus obcaecati velit natus sequi!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt culpa magni provident,
                            fugit
                            officia atque nam error temporibus ipsum reprehenderit magnam labore voluptatem cupiditate
                            facilis
                            ducimus obcaecati velit natus sequi!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt culpa magni provident,
                            fugit
                            officia atque nam error temporibus ipsum reprehenderit magnam labore voluptatem cupiditate
                            facilis
                            ducimus obcaecati velit natus sequi!</p>
                    </div>
                </main>
                <%- include('./partials/footer.ejs') %>
        </body>

</html>